# Root data folder
/data/
/example/

# VS Code temporary files
.virtual_documents/

# Common extra ignores (optional but recommended)
.ipynb_checkpoints/
__pycache__/
*.py[cod]
.venv/
.env
.DS_Store
.pth